/* You can add global styles to this file, and also import other style files */
.glitter-card {
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  padding: 8px;
  margin: 4px;
}
